:root {
  --accent-color: #5FBB97;
  --bg-color: #252525;
  --surface-bg-color: #1e1e1e;
  --text-color: #ffffff;
  --text-color-secondary: #999999;

  --divider-size: 1px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color)
}

* {
  margin: 0
}

.icon {
  color: var(--accent-color);
  width: 24px;
  height: 24px;
}